@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  overflow: auto;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#root {
  height: 100%;
  @apply flex flex-col;
}

.rnd_enabled {
  @apply text-blue-600 border-blue-600 bg-blue-100;
}

.rnd_disabled {
  @apply text-gray-200 bg-gray-400;
}

.rnd_no_permission {
  @apply text-red-600 bg-red-100;
}

.rnd_danger {
  @apply border-red-500 text-red-500 bg-red-100;
}

@layer transitions {
  .custom_transition {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.video-grid {
  /**
     * User input values.
     */
  --grid-layout-gap: 10px;

  --grid-column-count: 3;
  --grid-item--min-width: 480px;

  /**
     * Calculated values.
     */
  --gap-count: calc(var(--grid-column-count) - 1);

  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));

  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;

  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );

  grid-gap: var(--grid-layout-gap);
}

.video-container {
  @apply h-fit w-full relative;
}

.video-container:hover .rnd_btn {
  @apply translate-y-0 opacity-100;
}

.video-container:hover .user-tag {
  @apply opacity-100 translate-y-0;
}

.user-badge {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-32 z-10 max-h-[50%];
}

.rnd_btn {
  @apply custom_transition translate-y-full opacity-0;
}

.controls-container {
  @apply absolute bottom-0 flex w-full h-24 p-4 justify-center z-20 gap-x-4;
}

.home-page {
  grid-template-columns: repeat(auto-fit, minmax(720px, 1fr));
}
